In [1]:
#importing necessary tools and libraries
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
from sklearn.metrics import *
pd.set_option('display.max_columns',70)

In [2]:
df_train= pd.read_csv('train.csv') #importing training dataset

In [3]:
df_test= pd.read_csv('test.csv') #importing test dataset

In [4]:
df_train.columns

Index(['id', 'account_type', 'gender', 'age', 'region_code', 'cc_cons_apr',
       'dc_cons_apr', 'cc_cons_may', 'dc_cons_may', 'cc_cons_jun',
       'dc_cons_jun', 'cc_count_apr', 'cc_count_may', 'cc_count_jun',
       'dc_count_apr', 'dc_count_may', 'dc_count_jun', 'card_lim',
       'personal_loan_active', 'vehicle_loan_active', 'personal_loan_closed',
       'vehicle_loan_closed', 'investment_1', 'investment_2', 'investment_3',
       'investment_4', 'debit_amount_apr', 'credit_amount_apr',
       'debit_count_apr', 'credit_count_apr', 'max_credit_amount_apr',
       'debit_amount_may', 'credit_amount_may', 'credit_count_may',
       'debit_count_may', 'max_credit_amount_may', 'debit_amount_jun',
       'credit_amount_jun', 'credit_count_jun', 'debit_count_jun',
       'max_credit_amount_jun', 'loan_enq', 'emi_active', 'cc_cons'],
      dtype='object')

In [5]:
df_test.head()

,id,account_type,gender,age,region_code,cc_cons_apr,dc_cons_apr,cc_cons_may,dc_cons_may,cc_cons_jun,dc_cons_jun,cc_count_apr,cc_count_may,cc_count_jun,dc_count_apr,dc_count_may,dc_count_jun,card_lim,personal_loan_active,vehicle_loan_active,personal_loan_closed,vehicle_loan_closed,investment_1,investment_2,investment_3,investment_4,debit_amount_apr,credit_amount_apr,debit_count_apr,credit_count_apr,max_credit_amount_apr,debit_amount_may,credit_amount_may,credit_count_may,debit_count_may,max_credit_amount_may,debit_amount_jun,credit_amount_jun,credit_count_jun,debit_count_jun,max_credit_amount_jun,loan_enq,emi_active
0,6975,saving,M,36,447,17942.70,1170.0,1656.00,NaN,4551.00,NaN,6.0,2.0,6.0,1.0,NaN,NaN,75000.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,10806.93,25279.0,7.0,2.0,20000.0,21530.34,15416.52,3.0,7.0,10000.0,17316.44,5154.0,2.0,8.0,5000.0,NaN,0.00
1,43223,current,M,31,233,44870.36,NaN,34177.00,NaN,25889.21,NaN,13.0,19.0,36.0,NaN,NaN,NaN,116000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00
2,45502,current,M,26,823,1073.00,2442.0,4141.00,390.0,6740.29,642.0,3.0,5.0,2.0,8.0,3.0,3.0,40000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83205.22,105813.0,33.0,5.0,39000.0,90312.48,65227.00,4.0,22.0,26926.0,33981.00,37762.0,3.0,15.0,29352.0,NaN,2885.82
3,12368,current,M,39,878,33060.58,NaN,3797.12,NaN,291.00,NaN,16.0,12.0,15.0,NaN,NaN,NaN,86000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45342.25,59640.0,4.0,5.0,28753.0,84699.30,63393.00,4.0,8.0,57185.0,52927.00,89425.0,7.0,11.0,32696.0,NaN,0.00
4,40415,current,M,44,404,18236.90,NaN,30513.30,NaN,20395.28,NaN,42.0,38.0,20.0,NaN,NaN,NaN,250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25493.95,25154.0,4.0,1.0,25000.0,39813.40,45120.00,1.0,5.0,45000.0,31656.69,34275.0,3.0,4.0,19000.0,NaN,3342.58

In [6]:
# using pandas_profiling for Exploratory Data Analysis
import pandas_profiling
# pandas_profiling.ProfileReport(df_train)

#### Important points to note from information obtained through Profiling report
-
-
-
-

1) Columns like 'personal_loan_active', 'personal_loan_closed', 'loan_enq', vehicle_loan_active',  and 'vehicle_loan_closed' contain a single constant value(1.0) and have more than 90 percent missing values. Since the tags are categorical in nature, we'll assume that these missing values as '0'. For eg: Null values in personal_loan_active means that the customer has not taken any loan.

2) Also, we'll drop columns 'investment_1', 'investment_2', 'investment_3',' investment_4' because these variables have more than 99.9 percent of the values missing.

3) We'll also drop columns 'dc_cons_may', 'dc_cons_apr', 'dc_cons_jun' , dc_count_apr', 'dc_count_may', 'dc_count_june' because these columns have more than 58 percent data missing and columns 'max_credit_amount_apr', 'max_credit_amount_may', 'max_credit_amount_june' because these columns are highly correlated with columns 'credit_amount_apr', credit_amount_may', 'credit_amount_june'.

4) We'll also drop columns 'debit_amount_apr','debit_amount_june', 'debit_amount_may' due to their high correlation with  its credit counterparts

5) Age column has huge outlier values

In [7]:
#replacing the null values in 'personal_loan_active', 'personal_loan_closed', 'loan_enq','vehicle_loan_active', and 'vehicle_loan_closed' columns with '0'.

loan_type = ['personal_loan_active','personal_loan_closed','loan_enq','vehicle_loan_active','vehicle_loan_closed']
for i in loan_type:
    df_train[i].fillna(0.0, inplace= True)

In [8]:
# replacing the loan_enq column values
df_train['loan_enq'].replace('Y', 1.0, inplace= True)

In [9]:
#dropping investment columns
df_train.drop(['investment_1','investment_2','investment_3','investment_4'], axis=1, inplace =True)

In [10]:
# df_train.isnull().sum()

In [11]:
# age column has huge outliers values
# sns.boxplot(df_train['age'])

In [12]:
df_train['age'].nlargest(30).unique()

array([224, 223, 222, 221, 220, 219, 124, 123, 121, 120, 119, 118,  71,
        70], dtype=int64)

In [13]:
# Get names of indexes for which column age has value >110
indexNames = df_train[df_train['age'] > 110 ].index
print(len(indexNames))
 
# Delete these row indexes from dataFrame
df_train.drop(indexNames , inplace=True)

25

In [14]:
# Get names of indexes for which card limit variable 'card_lim' has value 0 and 1, because there is no point of holding a credit card that has card_lim of 0
indexNames = df_train[df_train['card_lim'] < 10 ].index
print(len(indexNames))
 
# Delete these row indexes from dataFrame
df_train.drop(indexNames , inplace=True)

6

In [15]:
# Replacing the NaN values in various columns
col= ['cc_count_apr','cc_count_may','cc_count_jun','credit_amount_apr','credit_amount_may','credit_amount_jun',
      'credit_count_apr','credit_count_may','credit_count_jun','debit_count_apr','debit_count_may','debit_count_jun',
      'debit_amount_apr','debit_amount_may','debit_amount_jun', 'card_lim']
for i in col:
    df_train[i].fillna(df_train[i].mean(), inplace= True)

In [16]:
# dropping columns with high correlation and huge volume of missing values
df_train.drop(['max_credit_amount_apr','max_credit_amount_may','max_credit_amount_jun','dc_cons_apr',
               'dc_cons_may','dc_cons_jun','dc_count_apr','dc_count_may','dc_count_jun'], axis=1, inplace =True)

In [17]:
#dropping id column
df_train.drop(['id'], axis= 1, inplace =True)

In [18]:
#creating dummies for variables account_type, and gender
df_train= pd.get_dummies(df_train, columns =['account_type','gender'], drop_first = True)

In [19]:
# df_train.head()

In [20]:
# generating new features
df_train['cc_cons_total'] = df_train['cc_cons_apr']+ df_train['cc_cons_may']+ df_train['cc_cons_jun']
df_train['cc_count_total']= df_train['cc_count_apr']+ df_train['cc_count_may']+ df_train['cc_count_jun']
df_train['credit_amount_total']=df_train['credit_amount_apr']+df_train['credit_amount_may']+df_train['credit_amount_jun']
df_train['credit_count_total']= df_train['credit_count_apr']+df_train['credit_count_may']+df_train['credit_count_jun']

df_train['debit_amount_total']=df_train['debit_amount_apr']+df_train['debit_amount_may']+df_train['debit_amount_jun']
df_train['debit_count_total'] = df_train['debit_count_apr']+df_train['debit_count_may']+df_train['debit_count_jun'] 

# df_train['debit_credit_amt_ratio']= df_train['credit_amount_total']/ df_train['debit_amount_total']
# df_train['debit_credit_count_ratio']= df_train['credit_count_total'] / df_train['debit_count_total']

In [21]:
len(df_train.columns)

36

In [22]:
# df_train.isnull().sum()

In [23]:
target = df_train['cc_cons']
df_train.drop(['cc_cons'], inplace= True, axis=1)

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_train, target, test_size = 0.3)

In [25]:
from sklearn.metrics import *
from sklearn.ensemble import RandomForestRegressor
rf= RandomForestRegressor()
rf.fit(x_train, y_train)
y_pred = rf.predict(x_test)
rmse= np.sqrt(mean_squared_log_error(y_test, y_pred))
print(rmse)

1.4056338720065769

In [26]:
df_c = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})
df_c.tail()

       Actual  Predicted
27286    1434     3482.1
8055      228    52313.8
19080   13539     2675.8
14555    1098     2276.9
12999    4951     6185.2

In [27]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
# Specify Model
dct = DecisionTreeRegressor(random_state=0)
# Fit Model
dct.fit(x_train, y_train)
# Make validation predictions and calculate root mean squared error
y_pred = dct.predict(x_test)
rmse = np.sqrt(mean_squared_log_error(y_test, y_pred))
print("Validation RMSE for Decision Tree Model: {:,.0f}".format(rmse))

# Define the random forest model.
rf_model = RandomForestRegressor(random_state=1)
rf_model.fit(x_train, y_train)
rf_pred = rf_model.predict(x_test)
rmse = np.sqrt(mean_squared_log_error(rf_pred, y_test))

print("Validation RMSE for Random Forest Model:",round(rmse,2))

Validation RMSE for Decision Tree Model: 2
Validation RMSE for Random Forest Model: 1.39

In [28]:
from sklearn.model_selection import GridSearchCV
param_grid = {'n_estimators': [100,200,300], 'max_depth' : [3,5,7],
              'max_features': ['auto','sqrt']},
rf= RandomForestRegressor()
grid_search = GridSearchCV(estimator = rf, param_grid = param_grid , scoring = 'neg_mean_squared_error')

grid_search.fit(x_train,y_train)

print("Best Score:" + str(grid_search.best_score_))
print("Best Parameters: " + str(grid_search.best_params_))
best_parameters = grid_search.best_params_

Best Score:-119427666.7057092
Best Parameters: {'max_depth': 7, 'max_features': 'sqrt', 'n_estimators': 200}

In [29]:
rf = RandomForestRegressor(**best_parameters)
rf.fit(x_train, y_train)
predictions = rf.predict(x_test)
val_mse = np.sqrt(mean_squared_log_error(predictions, y_test))
val_mse

1.3688470546963771

In [30]:
# replacing the null values in 'personal_loan_active', 'personal_loan_closed', 'loan_enq','vehicle_loan_active', and 
#'vehicle_loan_closed' columns with '0'
loan_type = ['personal_loan_active','personal_loan_closed','loan_enq','vehicle_loan_active','vehicle_loan_closed']

for i in loan_type:
    df_test[i].fillna(0.0, inplace= True)

In [31]:
# df_train['loan_enq'].value_counts()
df_test['loan_enq'].replace('Y', 1.0, inplace= True)

In [32]:
#dropping investment columns
df_test.drop(['investment_1','investment_2','investment_3','investment_4'], axis=1, inplace =True)

In [33]:
#replcing the extreme outliers in age and card_lim column
mean_age= df_test['age'].mean()
df_test['card_lim'].mean()
df_test.loc[df_test.age >110 , 'age'] = mean_age
df_test.loc[df_test.card_lim  <10, 'card_lim'] = df_test['card_lim'].mean()

In [34]:
# Replacing the NaN values in column card_lim by mean
df_test['card_lim'].fillna(df_test['card_lim'].mean(), inplace =True)

In [35]:
#  Replacing the NaN values in various columns
col= ['cc_count_apr','cc_count_may','cc_count_jun','credit_amount_apr','credit_amount_may','credit_amount_jun',
      'credit_count_apr','credit_count_may','credit_count_jun','debit_count_apr','debit_count_may','debit_count_jun',
      'debit_amount_apr','debit_amount_may','debit_amount_jun', 'card_lim']
for i in col:
    df_test[i].fillna(df_test[i].mean(), inplace= True)

In [36]:
#dropping columns with high correlation and huge volume of missing values
df_test.drop(['max_credit_amount_apr','max_credit_amount_may','max_credit_amount_jun','dc_cons_apr',
               'dc_cons_may','dc_cons_jun','dc_count_apr','dc_count_may','dc_count_jun'], axis=1, inplace =True)

In [37]:
#dropping id column
id_= df_test['id']
df_test.drop(['id'], axis= 1, inplace =True)

In [38]:
#creating dummies for variables account_type, and gender
df_test= pd.get_dummies(df_test, columns =['account_type','gender'], drop_first = True)

In [39]:
# Creating new features
df_test['cc_cons_total'] = df_test['cc_cons_apr']+ df_test['cc_cons_may']+ df_test['cc_cons_jun']
df_test['cc_count_total']= df_test['cc_count_apr']+ df_test['cc_count_may']+ df_test['cc_count_jun']
df_test['credit_amount_total']=df_test['credit_amount_apr']+df_test['credit_amount_may']+df_test['credit_amount_jun']
df_test['credit_count_total']= df_test['credit_count_apr']+df_test['credit_count_may']+df_test['credit_count_jun']

df_test['debit_amount_total']=df_test['debit_amount_apr']+df_test['debit_amount_may']+df_test['debit_amount_jun']
df_test['debit_count_total'] = df_test['debit_count_apr']+df_test['debit_count_may']+df_test['debit_count_jun'] 

# df_train['debit_credit_amt_ratio']= df_train['credit_amount_total']// df_train['debit_amount_total']
# df_train['debit_credit_count_ratio']= df_train['credit_count_total'] // df_train['debit_count_total']

In [40]:
rf = RandomForestRegressor(**best_parameters)

In [41]:
# Fit the model to the training data
rf.fit(df_train, target)

# Generate test predictions
preds_test = rf.predict(df_test)

output = pd.DataFrame({'id': id_,
                       'cc_cons': preds_test})
# output.to_csv('submission1c.csv', index=False)
output.head()

      id       cc_cons
0   6975   4407.932713
1  43223  11202.232613
2  45502   4608.595994
3  12368   5850.433487
4  40415   9293.425208